body {
    font-family: @sans-font-stack;
}

.story-arrow {
    color: @primary-red;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.5rem;
    vertical-align: middle;
    display: inline-block;
    left: 0;
    top: -1px;
    -webkit-transition: left 0.2s ease;
    transition: left 0.2s ease;
}

#wpadminbar {
    // Overide default placement of WordPress admin bar
    // so that it doesn't conflict with NCSU admin bar.
    top: auto !important;
    bottom: 0px;
}