#main-footer {
    
    background: #999;
    padding: 40px 0px;

    h2 {
        margin: 20px 0px;
        color: #fff;
        font-size: 24px;
    }

    ul li:before {
        color: #fff;
    }

    a {
        color: #fff;
    }

    .copyright p {
        margin: 20px 0px;
        color: #fff;
        font-size: 14px;
    }

    .social-media-block {
        background: #333;
        padding: 20px;
    }

}