.story-grid {

    .feature-header {

        color: @primary-red;
        font-size: .9rem;
        text-transform: uppercase; 
        margin-bottom: 30px;

        a {
            color: @primary-red;
            border-bottom: 1px solid @primary-red;
            padding-bottom: 4px; 
            text-transform: none;
            
            &:hover {
                border-bottom: none;
                padding: none;
            }

        }

    }

    .story-grid-item {
        margin-bottom: 80px;
    }

    .story-grid-item-image {
        background: @accent-gray-1;
    }
    
    .story-grid-item-image img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }

    a {
        color: @accent-gray-4;

        .story-grid-item-heading {
            font-weight: normal;
            font-family: @sans-font-stack;
            color: @primary-red;
        }

        .story-grid-item-text {
            line-height: 1.6;
            margin-bottom: 1.1em;
        }

        .glyphicon-thin-arrow {
            color: @primary-red;
        }

    }

    .story-grid-item-heading {
        font-weight: normal;
        font-family: @sans-font-stack;
        color: @primary-red;
    }

    .story-grid-item-text {
        line-height: 1.6;
        margin-bottom: 1.1em;
    }

    a:hover .story-grid-item-heading {
        color: @secondary-red;
    }

    ul a:hover {
        color: @secondary-red;
    }

    li {
        margin-top: 1rem;
    }

    .glyphicon-rss {
        color: @primary-red;
        font-size: 3em;
        float: left;
        margin-right: .3em;
        margin-bottom: 0em;
        margin-top: 0em;
    }

}