.story-grid {

    .story-grid-item {
        margin-bottom: 80px;
    }

    .story-grid-item-image img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }

    .story-grid-item-heading {
        font-weight: normal;
        font-family: @sans-font-stack;
    }

    .story-grid-item-text {
        line-height: percentage(36/14);
        margin-bottom: 0px;
    }

}